<div class="container mt-5">
<div *ngIf="!registerMode" style='text-align: center;'>
    <h1>Find your Match</h1>
    <p class="lead">
        Come on in to view your matches.. all you need to do is sign up!
    </p>
    <div class="text-center">
        <button (click)="registerToggle()" class="btn btn-primary btn-lg mr-2">Register</button>
        <button class="btn btn-info btn-lg">Learn more</button>
    </div>
</div>
<div *ngIf="registerMode" class="container">
    <div class="row justify-content-center">
        <div class="col-4">
            <app-register (cancelRegister)="cancelRegisterMode($event)"></app-register>
        </div>
    </div>
</div>
</div>

<!-- <div class="jumbotron">
    <h3 class="display-6 text-center">Hello, world!</h3> 
    <div class="container">
    <div class="row text-center">
        <div class="col-md-4">
            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-secondary">BUY</button>
                <button type="button" class="btn btn-primary">SELL</button>
              </div>
        </div>
        <div class="col-md-4"> 
            <div class="form-group">
                <select class="form-control" id="exampleSelect1">
                  <option><span class="material-icons">
                    alarm
                </span></option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
              </div>
        </div>
        <div class="col-md-4"> <button class="btn btn-outline-success my-2 my-sm-0" type="submit">SEARCH</button></div>
    
    </div></div>
  </div>

<div class="container-fluid" style="background-color: yellow;">
    <h1 class="text-center">My First Bootstrap Page</h1>
    <br>
   <div class="container">

    <div class="row text-center">
        <div class="col-md-4">
            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-secondary">BUY</button>
                <button type="button" class="btn btn-primary">SELL</button>
              </div>
        </div>
        <div class="col-md-4"> <select id="mySelect" data-show-content="true" class="form-control">
            <option>Select..</option>
            <option data-content="<i class='fa fa-cutlery'></i> Cutlery">Bitcoin</option>
            <option data-content="<i class='fa fa-eye'></i> Eye">Eherium</option>
            <option data-content="<i class='fa fa-heart-o'></i> Heart">Riples</option>
        </select></div>
        
        <div class="col-md-4"> <button type="button" class="btn btn-primary btn-lg">Search</button></div>
    </div>
    
   </div>
    
   
  </div> -->

